@keyframes wave {
    0% {
        d: path("M-4.28,-2.46 C128.33,263.27 352.93,-215.05 500.78,140.24 L488.93,190.44 L-0.00,149.60 Z");
    }
    25% {
        d: path("M-4.28,-2.46 C128.33,180 352.93,-298 500.78,105.24 L488.93,240.44 L-0.00,149.60 Z");
    }
    50% {
        d: path("M-4.28,-2.46 C128.33,350 352.93,-180 500.78,65.24 L488.93,190.44 L-0.00,149.60 Z");
    }
    75% {
        d: path("M-4.28,-2.46 C128.33,263.27 352.93,-215.05 500.78,140.24 L488.93,190.44 L-0.00,149.60 Z");
    }
    100% {
        d: path("M-4.28,-2.46 C128.33,180 352.93,-298 500.78,105.24 L488.93,240.44 L-0.00,149.60 Z");
    }
}

.animate-wave {
    animation: wave 4s linear infinite; /* Adjust animation duration and timing */
}
